.main-content {
    position: relative;
    height: calc(100vh - 60px); /* Adjust if navbar height is different */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
