.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 80vh; 
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(140, 17, 17, 0.924);
  width: 100%;
}
